<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      const status = "<%- JSON.stringify(status) %>";

      if (JSON.parse(status) == "verified") {
        if (confirm("Deseja logar?")) {
          window.location.href = "http://localhost:3988/bazar-gratis/login";
        }
      }
    </script>
    <style>
      input[type="password"] {
        width: 70%;
        box-sizing: border-box;
        text-align: center;
        margin: auto;

        display: block;
      }
      input[type="submit"] {
        background-color: #c9407d;
        border: none;
        color: white;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        margin: auto;
        display: block;
      }
      h2 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h2>Alterar Senha</h2>
    <form>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Senha"
      /><br />
      <input
        type="password"
        name="confirmPassword"
        id="confirmpassword"
        placeholder="Confirmar senha"
      /><br />
      <input type="submit" value="Alterar senha" />
    </form>
  </body>
</html>
